ol {
    flex-direction: row;
    width: 50px;
    list-style: none;
}
#parent-div {
    background-color: yellow;
    width: 200px;

}
.child-div {
    width: 50px;
    background-color: brown;
    flex-direction: row;
    justify-content: space-between;
}
#container-div {
    width: 700px;
    height: 800px;
    background-color: skyblue;
    color: red;
    flex-direction: column-reverse;
}